<% if signed_in? %>

  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
        <br/><br/><br/>
        <h3><%= link_to "All papers", posts_path %></h3>
      </section>
     
      
    </aside>
    <div class="span8">
      <br/>
      <h><%= link_to "start a new paper", posts_path %></h3><br/>
      <br/>
     
      
      
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Collaborate </h1>
      <h2>with your friends!</h2>
    <p>
      A Greate application for averybody who
       wants to write <a href="http://maryamhit3.herokuapp.com/">collaboration papers</a>!!
  
    </p>

    <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <%= link_to image_tag("673589.png", alt: "me"), 'http://maryamhit2.herokuapp.com/' %>
<% end %>