<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">

    <aside class="span4">
      <section></section>
    <aside class="span8">
      <section>
 <!-- <%= @post.name = current_user.id %> -->
 <div class="field">
    <%= f.hidden_field :name %><br />
    <%= f.hidden_field :name %>
  </div>

  
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, :size => "30x10" %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, placeholder: "Compose new micropost..."  %>
  </div>
</section>
</aside>

  

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
